*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* <!--====================  navbar cording start from here   ===================== --> */

#navbar {
width: 100%;
height: 60px;
background-color: orange;
position: fixed;
z-index: 99;

}

#navbar i {
  font-size: 25px;
  color: black;

}
.cart1 {
  font-size: 10px;
  font-weight: bolder;
  color: red;
  font-family: Georgia;
}
.cart-button {
  background-color: orange;
  border: none;
}

#navbar nav ul li {
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#navbar nav ul li a:hover{
    color: red;
 }

#navbar nav ul {
    gap: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#navbar nav ul h1 {
    
font-family:  sans-serif;
margin-right: 200px;
font-size: 30px;
margin-top: -10px;

}


#navbar nav ul h1 span {
color: red;
font-size: 20px;
}

#navbar nav ul .signup {
    margin-left: 30px;
background-color: blue;
color: whitesmoke;
width: 60px;
height: 25px;
border-radius: 10px;

}


#navbar nav .nav-img {
    width: 110px;
    margin-top: -20px;
    margin-left: -120px;
}

.add-cart-button {
  width: 100px;
  height: 35px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-size: 10px;  
  margin-top: 30px;
  margin-left: 60px;
}
.add-cart-button:hover {
background-color: orangered;
color: black;
}
.remove-cart-button {
width: 100px;
height: 35px;
background-color: blue;
border-radius: 10px;
color: white;
font-weight: bolder;
font-size: 10px;  
}
.remove-cart-button:hover {
  background-color: orangered;
  color: black;
  }

/* <!--====================  home  cording start from here   ===================== --> */

#home {
    width: 100%;
    height: 100vh;
}

#home img {
width: 100%;
position: absolute;
margin-top: 50px;
}
#home .home-text {
    position: relative;
    padding-top: 15%;
    margin-left: 100px;
}

#home .home-text  h2 {

font-size: 40px;
}

#home .home-text  h2 span { 
    color: red;
}


#home .home-text  h3 {
margin-top: 20px;
margin-left: 90px;
}

#home .home-text  h3 span { 
    color: orangered;

}



#home .home-text  p {
    margin-top: 20px;
    margin-left: 150px;
    color: red;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #home .home-text h4 {

margin-top: 60px;
margin-left: 40px;

    }
    #home .home-text i {
    font-size: 14px;
        color: orangered;
    }



 
/* <!--====================  home  cording end from here   ===================== --> */



/* <!--====================  we offer  cording start from here   ===================== --> */
#offer {
    width: 100%;
    height: 700px;
    padding-top: 120px;
    
}

#offer h4 {
margin-left: 43%;
color: orangered;
}

#offer h2 {
    margin-left: 37%;
    font-size: 35px;
    margin-top: 20px;
    }
    
/* .swiper {
    width: 100%;
    height: 100%;
  } */

  .img-1 {
    width: 100%;
    height: 60px;
  }

  .swiper-box1 {
    width: 350px;
    height: 370px;
    border: 2px solid red;
    background-color: rgba(255, 166, 0, 0.532);
    margin-top: 30px;
  }

.swiper-text {
margin-top: 20px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  
  .swiper-text {
    position: absolute;
  }

  .swiper-text h3 {
    margin-left: 65px;
  }

  .swiper-text p {
    color: white;
  }
  .swiper-text span {
    color: orangered;
  }
 
/* <!--====================  we offer cording start from here   ===================== --> */


/* <!--====================  we offer cording start from here   ===================== --> */




/* <!--====================  signup cording start from here   ===================== --> */
#signup {
  width: 100%;
  height: 100vh;
  padding-top: 110px;
  display: grid;
  justify-content: space-around;
}



input {
margin-left: 30px;
}

input::placeholder{
  color: orange;
}


.submit {
  margin-left: 120px;
  width: 90px;
  height: 35px;
  margin-top: 20px;
  background-color: blue;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
}

.submit:hover{
  background-color: orangered;
  color: black;

}


/* <!--====================  signup cording end from here   ===================== --> */




/* <!--====================  login cording start from here   ===================== --> */
#login {
  width: 100%;
  height: 100vh;
  padding-top: 110px;
  display: grid;
  justify-content: space-around;
}



input {
margin-left: 30px;
}

input::placeholder{
  color: orange;
}


.submit {
  margin-left: 120px;
  width: 90px;
  height: 35px;
  margin-top: 20px;
  background-color: blue;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
}

.submit:hover{
  background-color: orangered;
  color: black;

}


/* <!--====================  login cording end from here   ===================== --> */



/* //<!--====================  profile  cording start from here   ===================== --> */

#profile {
  width: 100%;
  height: 100vh;
  padding-top: 110px;
}

#profile .profile-inf {
  justify-content: center;
  display: grid;

}


.submit-logout {
  margin-left: 40px;
  width: 90px;
  height: 35px;
  margin-top: 20px;
  background-color: blue;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
}

.submit-logout:hover{
  background-color: orangered;
  color: black;

}



/* ///<!--==================== profile  cording end from here   ===================== --> */


/* <!--==================== about cording start from here   ===================== --> */

#about {

  width: 100%;
  height: auto;
  padding-top: 80px

}

#about .about-main {
  display: grid;
  grid-template-columns: auto auto;
}
#about .about-main .about-div1 img{
width: 100%;
position: relative;
margin-top: 90px;
margin-left: 50px;
}

#about .about-main .about-div1 {
  width: 600px;
}

#about .about-main .about-div2 {

  width: 600px;
height: auto;
  background-color: green;
margin-left: -300px;
border-radius: 10px;
color: white;
}

#about .about-main .about-div2:hover {
  color: black;
}

#about .about-main .about-div2 h1 {
margin-top: 13px;
margin-left: 200px;
font-size: 25px;
}

#about .about-main .about-div2 h2 {
  margin-top: 15px;
  margin-left: 240px;
  font-size: 25px;
}

#about .about-main .about-div2 .about-text {
display: grid;
grid-template-columns: auto auto;
justify-content: center;
margin-top: 15px;
gap: 10px;
}

#about .about-main .about-div2 .about-text .about-box1 {
  width: 200px;
  height: 100px;
  background-color: orangered;
  padding: 15px;
  border-radius: 10px;
} #about .about-main .about-div2 .about-text .about-box1:hover {
background-color: transparent;
border: 1px solid blue;
}

#about .about-main .about-div2 .about-text .about-box2 {
  width: 200px;
  height: 100px;
  background-color: orangered;
  padding: 15px;
  border-radius: 10px;
  }
  #about .about-main .about-div2 .about-text .about-box2:hover {
    background-color: transparent;
    border: 1px solid blue;
    }

  #about .about-main .about-div2 .about-text .about-box3 {
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    padding-left: 60px;
   }
   #about .about-main .about-div2 .about-text .about-box3:hover {
    background-color: transparent;
    border: 1px solid blue;
    }

    #about .about-main .about-div2 .about-text .about-box4 {
      width: 200px;
      height: 100px;
      background-color: orangered;
      padding: 15px;
      border-radius: 10px;
      }
      #about .about-main .about-div2 .about-text .about-box4:hover {
        background-color: transparent;
        border: 1px solid blue;
        }
      #about .about-main .about-div2 .about-text .about-box5 {
        width: 200px;
        height: 100px;
        background-color: green;
        padding: 15px;
        border-radius: 10px;
        }
        #about .about-main .about-div2 .about-text .about-box5:hover {
          background-color: transparent;
          border: 1px solid blue;
          }

        #about .about-main .about-div2 .about-text .about-box6 {
          width: 200px;
          height: 100px;
          background-color: orangered;
          padding: 15px;
          border-radius: 10px;
          }
          #about .about-main .about-div2 .about-text .about-box6:hover {
            background-color: transparent;
            border: 1px solid blue;
            }

          #about .about-main .about-div2 .about-text .about-box7 {
            width: 200px;
            height: 100px;
            background-color: orangered;
            padding: 15px;
            border-radius: 10px;
            }
            #about .about-main .about-div2 .about-text .about-box7:hover {
              background-color: transparent;
              border: 1px solid blue;
              }

            #about .about-main .about-div2 .about-text .about-box8 {
              width: 200px;
              height: 100px;
              background-color: orangered;
              padding: 15px;
              border-radius: 10px;
              }
              #about .about-main .about-div2 .about-text .about-box8:hover {
                background-color: transparent;
                border: 1px solid blue;
                }
/* //-------------------------------------------------------------------- */
#about .about-main .about-div2 .about-span {
  display: grid;
  grid-template-columns: auto ;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
                #about .about-main .about-div2 .about-box9 {
                  width: 300px;
                  height: 100px;
                  background-color: orangered;
                  padding: 15px;
                  border-radius: 10px;
                  }
                  #about .about-main .about-div2  .about-box9:hover {
                    background-color: transparent;
                    border: 1px solid blue;
                    }
                    #about .about-main .about-div2 .about-box10 {
                      width: 300px;
                      height: 100px;
                      background-color: orangered;
                      padding: 15px;
                      border-radius: 10px;
                      }
                      #about .about-main .about-div2  .about-box10:hover {
                        background-color: transparent;
                        border: 1px solid blue;
                        }

                        #about .about-main .about-div2  .about-box11 {
                          width: 300px;
                          height: 100px;
                          background-color: orangered;
                          padding: 15px;
                          border-radius: 10px;
                          }
                          #about .about-main .about-div2  .about-box11:hover {
                            background-color: transparent;
                            border: 1px solid blue;
                            }
                            #about .about-main .about-div2  .about-box12 {
                              width: 300px;
                              height: 100px;
                              background-color: orangered;
                              padding: 15px;
                              border-radius: 10px;
                              }
                              #about .about-main .about-div2  .about-box12:hover {
                                background-color: transparent;
                                border: 1px solid blue;
                                }                    
          /* <!----------------------- about button cording here --------------------- --> */

#about .about-main .about-div2 .about-btn {

  margin-left: 210px;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  background-color: blue;
  font-weight: bolder;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
}




#about .about-main .about-div2 .about-btn:hover{
  background-color: orangered;
  color: black;

}
  
/* <!--====================  about cording end from here   ===================== --> */




#footer {
  width: 100%;
  height: 400px;
  background-color: black
  ;
}

.footer-div {
display: grid;
color: white;
grid-template-columns: auto auto auto auto;
}

#footer .footer-div i {
  font-size: 30px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

#footer .footer-div .footer-carbook {
  margin-left: 40px;
  margin-top: 40px;

}
#footer .footer-div span {
  color: red;
}


#footer .footer-div p {
  margin-left: 40px;
  margin-top: 40px;

}

#footer .footer-div h2 {
  margin-left: -40px;
  margin-top: 40px;
}

#footer .footer-div .footer-a a{
display: grid;
grid-template-columns: auto;
gap: 10px;
margin-top: 30px;
color: white;
text-decoration: none;
}
/* <!--====================  footer cording end from here   ===================== --> */






